@using AntDesign
@using Shared.DTOs.RequestModel;
@using Shared.DTOs.ResponseModel;
@using Shared
@page "/student"
@using Pages.Student

<Space>
    <Input Placeholder="Search by ID" @bind-Value="StudentPaginationRequest.BasePaginationRequest.Keyword" />
    <Button Type="ButtonType.Primary" @onclick="ApplyFilters">Search</Button>
</Space>

<GridRow>
    <GridCol Offset="16" Span="4">
        <Button type="ButtonType.Primary" OnClick="OpenModal">Add Student</Button>

        <CreateOrUpdateDialog @ref="_createOrUpdateModal" OnSuccess="LoadData" />
    </GridCol>  
    <GridCol  Span="4">
        <Button type="ButtonType.Primary" OnClick="ExportExcel">Export Excel</Button>

    </GridCol>
</GridRow>


<Table TItem="StudentResponse" DataSource="@_response.Data" 
       @bind-PageIndex="StudentPaginationRequest.BasePaginationRequest.PageNo"
       @bind-PageSize="StudentPaginationRequest.BasePaginationRequest.PageSize"
       Total="@_response.TotalItems"
       OnChange="HandleTableChange">

    <PropertyColumn Property="c => c.Id" Title="ID">
        <span>@context.Id</span>
    </PropertyColumn>

    <PropertyColumn Property="c => c.Name" Title="Name" Sortable="true">
        <a>@context.Name</a>
    </PropertyColumn>

    <PropertyColumn Property="c => c.DateOfBirth" Title="Date of Birth">
        <span>@context.DateOfBirth.ToShortDateString()</span>
    </PropertyColumn>

    <PropertyColumn Property="c => c.Address" Title="Address">
        <span>@context.Address</span>
    </PropertyColumn>

    <PropertyColumn Property="c => c.Class.Name" Title="Class Name">
        <span>@context.Class.Name</span>
    </PropertyColumn>

    <PropertyColumn Property="c => c.TeacherName" Title="Teacher Name">
        <span>@context.TeacherName</span>
    </PropertyColumn>

    <ActionColumn Title="Action">
        <Popconfirm Title="Sure to delete?" OnConfirm="()=> Delete(context.Id)"
                    OkText="Yes" CancelText="No">
            <Button Danger>Delete</Button>
        </Popconfirm>
        <Button Type="ButtonType.Primary" @onclick="()=> OpenUpdateModal(context)">Update</Button>
    </ActionColumn>
</Table>

<!-- Filter & Search -->



