@using AntDesign
@using Shared.DTOs.RequestModel;
@using Shared.DTOs.ResponseModel;
@using Shared
@page "/student/list"
@using Pages.Student

<h3>Student List</h3>  
<GridRow>
    <GridCol Span="12">
        <Button type="ButtonType.Primary" OnClick="OpenModal">Add Student</Button>

        <CreateOrUpdateDialog @ref="_createOrUpdateModal" OnSuccess="LoadData" />
    </GridCol>  


</GridRow>
<Table TItem="StudentResponse" DataSource="@_response">
    <PropertyColumn Property="c => c.Name">
        <a>@context.Name</a>
    </PropertyColumn>
    <PropertyColumn Property="c => c.DateOfBirth">
        <span>@context.DateOfBirth.ToShortDateString()</span>
    </PropertyColumn>
    <PropertyColumn Property="c => c.Address">
        <span>@context.Address</span>
    </PropertyColumn>
    <PropertyColumn Property="c => c.Class.Name" Title="Class name">
        <span>@context.Class.Name</span>
    </PropertyColumn>
    <PropertyColumn Property="c => c.TeacherName">
        <span>@context.TeacherName</span>
    </PropertyColumn>
    <ActionColumn Title="Action">
        <Popconfirm Title="Sure to delete?"
                    OnConfirm="()=> Delete(context.Id)"
                    OkText="Yes"
                    CancelText="No">
            <Button Danger>Delete</Button>
        </Popconfirm>
        <Button type="ButtonType.Primary" @onclick="()=> OpenUpdateModal(context) ">Update</Button>
    </ActionColumn>
</Table> 


